<div class="container">
	<%= search_form_for @search, enforce_utf8: false, :html => {:class => "input-group input-group-lg"} do |f| %>
		<%= f.text_field :title_cont, :class => "form-control invisible_input search-bar", placeholder: "ex. Catastrophic Earth EOSC 114", autocomplete: 'off'%>
		<span class="input-group-btn">
			<button type="submit" class="btn btn-default search-bar">
			  <i class="fa fa-search"></i>
			</button>
		</span>
	<%end%>
</div>